<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title> Login </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="max-width">
    <div class="position">
      <div class="wave active"></div>
    </div>
    <div class="ion-padding">
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating"  color="light">Username</ion-label>
          <ion-input
            [(ngModel)]="username"
            name="username"
            clearInput
          ></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">Login</ion-button>
      </form>
    </div>
    <img src="/assets/image.jpeg" alt="Your Image">
  </div>
</ion-content>
