ion-searchbar {
  --background: #1f1f1f;
  --placeholder-color: #999999;
  --color: white;
  padding: 0;
  input {
    color: white; // Set the text color
  }
}

ion-icon {
  color: white;
  font-size: 24px;
}

