ion-searchbar {
  --background: #1f1f1f;
  --placeholder-color: #999999;
  --color: white;
  padding: 0;
  input {
    color: white; // Set the text color
  }
}
.position {
  position: fixed;
  top: 50%;
  right: 2rem;
  z-index: 1;
}
.wave {
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 25px;
  &.active {
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: var(--ion-color-success);
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: 50%;
      background-color: var(--ion-color-success);
      animation: waveAnimation 1s ease-in-out infinite;
    }
  }
}

@keyframes waveAnimation {
  100% {
    opacity: 0;
    scale: 1.8;
  }
}


ion-icon {
  color: white; 
  font-size: 24px;
}