<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start" slot="start">Home</ion-title>
      <ion-icon name="log-in-outline" (click)="logout()" slot="end" color="danger" size="large"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <div class="max-width">
    <div class="ion-padding">
      <div class="row">
        <ion-searchbar [(ngModel)]="searchTerm" [value]="searchTerm" (ionInput)="searchProducts($event)">
        </ion-searchbar>
        <span class="wave" [class.active]="isListening" (click)="startListening()">
          <ion-icon name="mic-outline"></ion-icon>
        </span>
      </div>
      <div *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
      <div *ngIf="(products?.length === 0)">
        No data available.
      </div>
    </div>
  </div>
</ion-content>
